
.project {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
}
.slide {
    margin: 1rem 0;
}
.slide,
.slide ul {
    display: flex;
    align-items: center;
}
.slide ul li {  
    width:5px;
    height:5px;
    border-top: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    animation: arrowWave 1s infinite;
    animation-direction: alternate;
}
.slide ul li:nth-child(1) {animation-delay: 0.3s;}
.slide ul li:nth-child(2) {animation-delay: 0.2s;}
.slide ul li:nth-child(3) {animation-delay: 0.1s;}
@keyframes arrowWave {
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 0;}
}

.slide h3 {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-left: 0.5rem;
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiperSlide {
    text-align: center;
    font-size: 18px; 
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 25% !important;
    height: 350px !important;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}
.swiperSlide:hover {
    animation: backImgHover .3s both;
}
@keyframes backImgHover {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 110%;
    }
}

/* 웹 반응형 */
@media screen and (max-width: 1350px) {
    .swiperSlide {
        width: 40% !important;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .project {
        width: 80%;
    }
    .swiperSlide {
        width: 80% !important;
    }
}