.leftBox {
    margin-right: 8rem;
}
.leftBox .aboutImg {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.leftBox .aboutList li {
    display: flex;
    align-items: center;
    color:#333;
    font-size: 1.8rem;
    font-family: 'S-CoreDream-3Light';
    margin-bottom: 1.2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px dashed var(--main-color);
    padding-bottom: 1rem;
}
.leftBox .aboutList li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.leftBox .aboutList img {
    width: 1.8rem;
    margin-right: 0.5rem;
}

.rightBox {
    width: 25%;
}
.rightBox ul {
    width: 80%;
}
.rightBox ul li {
    margin-bottom: 2rem;
}
.rightBox .skillTxt {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.rightBox .levelBox {
    width: 100%;
    display: block;
    background-color: rgb(195 194 194);
    height: 2px;
    margin-top: 1rem;
}
.rightBox .levelChk {
    background-color: var(--main-color);
    height: 100%;
}

.aboutTxt {
    width: 25%;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    line-height: 1.8;
    font-family: 'S-CoreDream-3Light';
    color: #333;
}