.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
}
.modalInner {
    width: 40%;
    background-color: #fff;
    height: 45rem;
    position: relative;
    overflow: hidden;
}


.close {
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.close img {
    height: 100%;
    cursor: pointer;
}

.contenWrap {
    display: flex;
}
.contenWrap .leftInner {
    width: 50%;
}
.contenWrap .leftInner img {
    width: 100%;
    height: 100%;
}
.contenWrap .rightInner {
    width: 48%;
    height: 100%;
    padding: 3rem 2rem;
    font-family: 'S-CoreDream-3Light';
    color: #3e3e3e;
}
.contenWrap .rightInner h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.contenWrap .rightInner h4 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
.contenWrap .rightInner .linkTxt {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    display: block;
    color: #7cb0e9;
}
.contenWrap .rightInner .linkTxt:hover {
    color: var(--main-color);
    transition: .2s;
}
.contenWrap .githubBox {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.contenWrap .githubBox img {
    width: 2rem;
    filter: brightness(0.5);
    margin-right: 0.5rem;
}
.contenWrap .githubBox a:hover{
    color:#7cb0e9;
    transition: .2s;
}
.contenWrap .rightInner p {
    font-size: 1.6rem;
    line-height: 1.8;
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .modalInner {
        width: 85%; 
        height: auto;
        max-height: 50rem;
        overflow-y: auto;
    }
    .close {
        height: 1.5rem;
    }
    .contenWrap .rightInner h3 {
        font-size: 2rem;
    }
    .contenWrap .rightInner h4 {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .contenWrap .rightInner p {
        font-size: 1.4rem;
    }
}