.contact {
    flex-direction: column;
}
.contact .aboutBox {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 4rem;
}
.contact .aboutBox li {
    width: 32%;
    border: 1px solid var(--main-color);
    font-size: 1.4rem;
    border-radius: 2rem;
    text-align: center;
    color: var(--main-color);
    line-height: 1.8;
    background-color:#fff;
}
.contact .aboutBox li:hover {
    background-color: var(--main-color);
    transition: .3s;
    color:#fff;
}
.contact .aboutBox li:hover img {
    filter: invert(98%) sepia(9%) saturate(426%) hue-rotate(22deg) brightness(119%) contrast(100%);
}
.contact .aboutBox li a {
    display: block;
    padding: 2rem;
}
.contact .aboutBox img {
    width:2.5rem;
    filter: invert(78%) sepia(6%) saturate(6680%) hue-rotate(305deg) brightness(121%) contrast(99%);
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}
.contact form small {
    width: 100%;
    font-size: 1.1rem;
    color: red;
}
.contact form input,
.contact form textarea {
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    background-color: #f3f3f3;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.4rem;
}
.contact form input {
    width: 46%;
}
.contact form textarea {
    height: 13rem;
    resize: none;
}
.contact form .fullInput {
    width: 100%;
}
.contact form input[type="submit"]{
    width: 35%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #f3f3f3 inset;
}

/* 웹 반응형 */
@media screen and (max-width: 1350px) {
    .contact form input {
        width: 100%;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .contact {
        padding-top: 7rem;
    }
    .contact .aboutBox {
        flex-direction: column;
    }
    .contact .aboutBox li {
        width: 100%;
    }
    .contact form input {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .contact {
        padding-top: 15rem;
    }
    .contact form input[type="submit"]{
        margin-bottom: 2rem;
    }
}