header { 
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding:3rem 0;
    box-sizing: border-box;
    z-index: 99;
}
.headerInner {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    width:70%;
    margin: 0 auto;
}
.headerInner nav ul {
    display: flex;
    gap: 5rem;
}
.headerInner nav ul li {
    font-size: 1.6rem;
    color: #333;
}
.headerInner nav ul li:hover {
    color: var(--main-color);
    transition: .2s;
}

/* 모바일 */
@media screen and (max-width: 768px) {
    header {
        padding: 1rem 2rem;
        background-color:#fff;
    }
    .headerInner {
        width: 100%;
        margin:0;
        align-items: center;
    }
    .menu {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        position: relative;
    }
    .burgur , .topLine, .botLine {
        width: 25px;
        height: 2px;
        background-color: #000000;
        position: absolute;
    }
    .topLine,.botLine {
        content: '';
        right: 0;
        -webkit-transition:  -webkit-transform .3s;
        transition: transform .3s;
    }
    .burgur {
        right: 0;
        top: 23px;
    }
    .burgur .topLine{
        bottom: -8px;
    }
    .burgur .botLine {
        top: -8px;
    }
}